<h2>Enrollment Request Form</h2>

<form #enrollForm="ngForm"
      (ngSubmit)="onSubmit(enrollForm)">

  <!-- Student Name -->
  <label>Student Name</label>

  <input
      type="text"
      name="studentName"
      required
      minlength="3"
      [(ngModel)]="studentName"
      #nameCtrl="ngModel">

  <div *ngIf="nameCtrl.touched">

      <span *ngIf="nameCtrl.errors?.['required']">
          Name is required
      </span>

      <span *ngIf="nameCtrl.errors?.['minlength']">
          Name must be at least 3 characters
      </span>

  </div>

  <br><br>

  <!-- Student Email -->
  <label>Student Email</label>

  <input
      type="email"
      name="studentEmail"
      required
      email
      [(ngModel)]="studentEmail"
      #emailCtrl="ngModel">

  <div *ngIf="emailCtrl.touched">

      <span *ngIf="emailCtrl.errors?.['required']">
          Email is required
      </span>

      <span *ngIf="emailCtrl.errors?.['email']">
          Enter a valid email
      </span>

  </div>

  <br><br>

  <!-- Course ID -->
  <label>Course ID</label>

  <input
      type="number"
      name="courseId"
      required
      [(ngModel)]="courseId"
      #courseCtrl="ngModel">

  <div *ngIf="courseCtrl.touched && courseCtrl.invalid">

      <span>Course ID is required</span>

  </div>

  <br><br>

  <!-- Preferred Semester -->
  <label>Preferred Semester</label>

  <select
      name="preferredSemester"
      [(ngModel)]="preferredSemester">

      <option value="">Select</option>
      <option>Odd</option>
      <option>Even</option>

  </select>

  <br><br>

  <!-- Agree To Terms -->
  <label>

      <input
          type="checkbox"
          name="agreeToTerms"
          required
          [(ngModel)]="agreeToTerms"
          #termsCtrl="ngModel">

      I Agree to the Terms

  </label>

  <div *ngIf="termsCtrl.touched && termsCtrl.invalid">

      <span>You must accept the terms.</span>

  </div>

  <br><br>

  <button
      type="submit"
      [disabled]="enrollForm.invalid">

      Submit

  </button>

  <button
      type="button"
      (click)="enrollForm.resetForm()">

      Reset

  </button>

</form>

<div *ngIf="submitted">

    <h3>Enrollment request submitted successfully!</h3>

</div>